@import url("https://fonts.googleapis.com/css2?family=Onest&display=swap");

:root {
  --main-bg: #e2e6eb;
  --white-bg: #ffffff;
  --flow-bg: #f6f7fa;
  --primary-color: #552cf6;
  --accent-color: #14b2e1;
  --border-grey: #dbdbdb;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Onest";
}
body {
  min-height: 100dvh;
  display: flex;
  flex-direction: row;
  padding: 2rem;
  background-color: var(--main-bg);
}

main {
  display: flex;
  flex-direction: column;
  flex: 1 0 70%;
  background-color: var(--white-bg);
  border: {
    top-right-radius: 10px;
    bottom-right-radius: 10px;
  }

  > h2 {
    padding: 3rem 0 2rem 1rem;
    font-size: 44px;
  }
}

nav {
  border-right: 1px solid var(--border-grey);
  background-color: var(--white-bg);
  flex: 0 0 17%;

  display: flex;
  flex-direction: column;

  border: {
    top-left-radius: 10px;
    bottom-left-radius: 10px;
  }

  h1 {
    font-size: 20px;
    padding: 1.5rem 1rem;
    border-bottom: 1px solid var(--border-grey);

    span {
      padding: 0.5rem 0.75rem;
      margin-right: 10px;
      background-color: var(--accent-color);
      border-radius: 10px;
    }
  }

  > div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    padding: 1rem;
    gap: 2rem;
  }

  #newProject {
    padding: 1rem 0;
    border: 1px solid var(--border-grey);
    border-radius: 5px;
    background-color: var(--primary-color);
    color: white;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }
  #reset {
    cursor: pointer;
    text-decoration: underline;
    border: 0;
    background-color: transparent;
  }
}

#newProjectDialog {
  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
  }
  margin: auto auto;
  padding: 2rem 3em;
  border: 0;
  form {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1rem;
    div {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
    }
    input {
      float: right;
      min-width: 250px;
      padding: 0 10px;
    }
    input[type="submit"] {
      padding: 1rem 1rem;
    }
  }
}

#projectFlow {
  border: {
    top-right-radius: 10px;
    bottom-right-radius: 10px;
  }
  flex: 1;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  background-color: var(--flow-bg);
  border-top: 1px solid var(--border-grey);

  > div {
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: wrap;
    > h2 {
      padding-left: 10px;
      font-size: 15px;
      font-weight: normal;
      margin: 0 0 1rem 0;
    }
    > article {
      cursor: pointer;
      background-color: white;
      border-radius: 8px;
      position: relative;
      box-shadow: 0 2px 3px rgba(0, 0, 0, 0.2);
      margin: 1rem 0 0 0;
      padding: 2rem 1.5rem;
      display: flex;
      flex-direction: column;
      gap: 0.25rem;

      h3 {
        font-size: 16px;
      }
      span {
        font-size: 14px;
        color: #5c5c5c;
      }

      &::before {
        content: "";
        position: absolute;
        bottom: 0;
        height: 10px;
        left: 0;
        right: 0;
        border-bottom-left-radius: 8px;
      }
      &::after {
        content: "📃";
        position: absolute;
        top: 1.5rem;
        right: 1.5rem;
        font-size: 1.3rem;
      }
    }
  }

  > div:nth-child(1) {
    > article::before {
      width: 10%;
      background-color: #080026;
    }
  }
  > div:nth-child(2) {
    > article::before {
      width: 40%;
      background-color: #15006b;
    }
  }
  > div:nth-child(3) {
    > article::before {
      width: 75%;
      background-color: #3a16ca;
    }
  }
  > div:nth-child(4) {
    > article::before {
      width: 100%;
      background-color: var(--primary-color);
      border-bottom-right-radius: 8px;
    }
  }
}
